# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
ns_bssmp-dqn_venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Outputs
outputs/
*.png

# RESULTS
RESULTS/

# old_files
\old_files

# graphs
\graphs

# Ignore all .txt files...
*.txt
# ...EXCEPT for requirements.txt
!requirements.txt
